{% load static i18n %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">

<head>
    <title>Купить фотообои Тайга и птицы - Арт. 18901 | Интернет-магазин Фотостена.ру</title>
    <meta name="description"
        content="Фотообои Тайга и птицы, Арт. 18901 по цене от 590 руб. в интернет-магазине Фотостена. Доставка по Москве и России от 1 до 7 дней. Подробности по тел. 8-800-300-61-34">

    <meta name="Keywords"
        content="фотоообои Тайга и птицы артикул 18901 интернет магазин цена купить доставка заказ`:default=`">

    <meta property="og:title" content="Купить фотообои Тайга и птицы - Арт. 18901 | Интернет-магазин Фотостена.ру" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="catalog-forest-012-18901" />
    <meta property="og:description"
        content="Фотообои Тайга и птицы, Арт. 18901 по цене от 590 руб. в интернет-магазине Фотостена. Доставка по Москве и России от 1 до 7 дней. Подробности по тел. 8-800-300-61-34" />
    <meta property="og:site_name" content="Студия печати Фотостена" />
    <meta property="og:image" content="https://photostena.ru/assets/images/products/28753/18901.jpg" />




    <!-- assets/template/js/fancybox/jquery.fancybox.pack.js, assets/template/js/fancybox/jquery.fancybox.css,-->
    <!-- assets/template/libs/fancybox/dist/jquery.fancybox.min.js, assets/template/libs/fancybox/dist/jquery.fancybox.css,-->


    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <meta name='yandex-verification' content='58951250a690fe6d' />
    <meta name="google-site-verification" content="LIT4t_3gktWJVrpTpFTRRkrApFWZkzkEmPTEFmjEQkQ" />
    <meta name='yandex-verification' content='729b52e5c3bcb68d' />
    <meta name="yandex-verification" content="58951250a690fe6d" />
    <meta name="cmsmagazine" content="092f0df6e32ac917a7d298c4265042e4" />
    <meta name="yandex-verification" content="7f935cbb666e2ee4" />

    <meta name="yandex-verification" content="c7ac87cea76f8192" />

    <meta name="facebook-domain-verification" content="8qlit3h54ttrbobxwmlgqj5qebjupi" />

    <link rel="stylesheet" href="{% static 'css/main.min.css'%}" type="text/css" />

    <link rel="stylesheet" href="/static/components/minifyx/cache/styles_d42f84a67f.min.css" type="text/css" />
    <!--link rel="stylesheet" href="assets/template/css/style-adaptive.css">
    <link rel="stylesheet" href="assets/template/css/style-menu.css">
    <link rel="stylesheet" href="assets/template/css/media.css"-->



    <!-- <script src="assets/template/js/jquery-1.11.1.min.js" type="text/javascript" rel="script"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--<script src="?v=1.1"></script>-->

    <script>
        //Куки
        function SetCookie(id, minutes) {
            var ws = new Date();
            ws.setTime(ws.getTime() + (minutes * 60 * 1000));
            document.cookie = id + "; path=/; expires=" + ws.toGMTString();
        }
    </script>

    <!-- VK PIXEL -->
    <script
        type="text/javascript">!function () { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?160", t.onload = function () { VK.Retargeting.Init("VK-RTRG-351442-8f7ph"), VK.Retargeting.Hit() }, document.head.appendChild(t) }();</script>
    <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-351442-8f7ph" style="position:fixed; left:-999px;"
            alt="" /></noscript>

    <!-- Facebook Pixel Code -->
    <!--script>
    !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '321172752091445');
      fbq('track', 'PageView');
    </script-->
    <!--noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=321172752091445&ev=PageView&noscript=1"/></noscript-->
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '480065149830445');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=480065149830445&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter21436330 = new Ya.Metrika({
                        id: 21436330,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        ecommerce: "dataLayer",
                        params: window.yaParams || {}
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <!-- /Yandex.Metrika counter -->




    <style>
        .wrrp-quick-order .wrrp-decision .full-order {
            display: none;
            font-family: CirceRegular;
            padding: 20px;
        }

        .wrrp-quick-order .wrrp-decision .quick-order {
            padding: 20px;
            font-family: CirceRegular;
            display: block;
        }
    </style>


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <meta name="msfavorites:version" content="3.0.5-beta">
    <meta name="msfavorites:ctx" content="web">
    <meta name="msfavorites:actionUrl" content="/static/components/msfavorites/action.php">

    <link rel="stylesheet" href="/static/components/ms2gallery/css/web/default.css" type="text/css" />
    <link rel="stylesheet" href="/static/components/pdotools/css/pdopage.min.css" type="text/css" />
    <script type="text/javascript">pdoPage = { callbacks: {}, keys: {}, configs: {} };</script>
    <script
        type="text/javascript">glConfig = { "assetsUrl": "\/assets\/components\/gl\/", "actionUrl": "\/assets\/components\/gl\/action.php", "modalShow": false, "pageReload": true, "locationClass": "glCity" }</script>



    <style>
        .wrrp-quick-order.variant-1 .mat-wrrp .mat-select label .show-popup-material.popup-video {
            right: 1px;
            left: auto;
            background-image: url(/static/template/svg/youtube-2.svg);
            -webkit-background-size: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

    <style>
        @media only screen and (max-width: 600px) {
            .logo {
                width: 41px !important;
            }

            .footerlogo {
                width: 100px !important;
                margin: 3px 0 -40px -17px !important;

            }
        }


        .browsing .right_arrow a:hover,
        .right_arrow-modal a:hover {
            background: url(/static/template/images/arrow-blue.png) no-repeat -32px 17px rgba(0, 0, 0, .34);
        }


        .block-process-landing .wrrp {
            background: url(/static/images/path.png) no-repeat center !important;
            height: 412px;
            margin-top: 50px;
        }

        .cropper-point.point-e {
            top: 50% !important;
            right: -11px !important;
            margin-top: -11px !important;
            cursor: e-resize !important;
            background-image: url(/static/template/images/icon/icon_arrow_cropp.png) !important;
        }

        .cropper-point.point-w {
            top: 50% !important;
            left: -11px !important;
            margin-top: -11px !important;
            background-image: url(/static/template/images/icon/icon_arrow_cropp.png) !important;
            cursor: w-resize !important;

        }

        .cropper-point.point-n {
            top: -11px !important;
            left: 50% !important;
            background-image: url(/static/template/images/icon/icon_arrow_cropp.png) !important;
            -webkit-transform: rotate(90deg) !important;
            -ms-transform: rotate(90deg) !important;
            -o-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
            margin-left: -11px !important;
            cursor: n-resize !important;
        }

        .cropper-point.point-s {
            bottom: -11px !important;
            left: 50% !important;
            margin-left: -11px !important;
            cursor: s-resize !important;
            background-image: url(/static/template/images/icon/icon_arrow_cropp.png) !important;
            -webkit-transform: rotate(90deg) !important;
            -ms-transform: rotate(90deg) !important;
            -o-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
        }

        .cropper-point {
            width: 22px !important;
            height: 22px !important;
            border-radius: 50% !important;
            opacity: 1 !important;
            background-color: #39f !important;
        }

        .mystyle {
            display: block !important;
        }

        .myimagestyle {
            display: none !important;
        }

        .myimage2style {
            opacity: 1 !important;
            position: inherit !important;
        }

        .imagearea3style {
            display: block !important;
        }

        .imagearea4style {
            display: block !important;
        }

        .imagearea2hide {
            display: none !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js"
        integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.css"
        integrity="sha512-5ZQRy5L3cl4XTtZvjaJRucHRPKaKebtkvCWR/gbYdKH67km1e18C1huhdAc0wSnyMwZLiO7nEa534naJrH6R/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.js"
        integrity="sha512-witv14AEvG3RlvqCAtVxAqply8BjTpbWaWheEZqOohL5pxLq3AtIwrihgz7SsxihwAZkhUixj171yQCZsUG8kw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css"
        integrity="sha512-6QxSiaKfNSQmmqwqpTNyhHErr+Bbm8u8HHSiinMEz0uimy9nu7lc/2NaXJiUJj2y4BApd5vgDjSHyLzC8nP6Ng=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <header class="header">
        <div class="top-promo" style="background-image: url({% static 'images/topbannerr.png'%}	)"></div>

        <div class="top-line clearfix">
            <div class="container">
                <a class="item icon-1 last" href="{% url 'contact'%}">{% trans 'Contact' %}</a>
                <a class="item icon-2" href="https://g.page/fotooboibaku?share" target="_blank">{% trans 'Stores' %}</a>
                <a class="item icon-3" href="{% url 'about'%}">{% trans 'Shipping and Payment' %}</a>
                <!-- <a class="item icon-4" href="/send-reviews">Оставить отзыв</a> -->
                <a class="item" href="{% url 'about'%}">{% trans 'About' %}</a>

                <table style=" float: right; margin: 8px 0 0 0; ">
                    <tr>
                        <td style=" padding: 0 3px 0 3px; "><a href="/az"><img src="{% static 'images/az.png'%}" /></a>
                        </td>
                        <td style=" padding: 0 3px 0 3px; "><a href="/ru"><img src="{% static 'images/ru.png'%}" /></a>
                        </td>
                        <td style=" padding: 0 3px 0 3px; "><a href="/en"><img src="{% static 'images/en.png'%}" /></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container top clearfix">
            <div class="logo left">
                <a href="{% url 'index'%}">
                    <img src="{% static 'images/logo.png'%}" style="width:70px;margin-top:-10px;"
                        alt="Photostena - крупнейший интернет-магазин фотообоев, картин и фресок"
                        title="Photostena - крупнейший интернет-магазин фотообоев, картин и фресок"
                        class="footerlogo" />
                </a>
            </div>

            <div class="center clearfix">
                <div class="item-col col-1">

                    <div class="col-info">
                        <div href="#popup_callback" class="link ">
                            <a href="{% url 'contact' %}"><span>{% trans 'Let us call you' %}</span></a>
                        </div>
                        <span>{% trans 'Enter you phone number' %}</span>
                    </div>
                </div>

                <div class="item-col col-2">
                    <div class="col-info">
                        <span>{% trans 'Contact' %}</span><br>

                        <span class="phone_brand num-city2">+994 556777410</span><br>
                        <span> {% trans 'Work hours' %} 08.00 - 21.00 </span><br>
                    </div>
                </div>

                <div class="item-col col-3">
                    <div class="col-info">
                        <div class=""><span class="" style=" color: #2fa8dd; font-size: 22px; ">
                            {% trans 'Baku' %}</span></div>
                        <div class="cityheader"></div>
                        <a class=" headermap " href="https://g.page/fotooboibaku?share" target="_blank"><span>
                            {% trans 'See on map' %}</span></a>
                    </div>
                </div>

            </div>
        </div>

        <nav class="top_menu_1">
            <div class="container">
                <ul class="clearfix">

                    <li class="item_menu " style="    width: 185px !important;">
                        <a class="main-link" href="{% url 'fotooboy' %}"
                            style=" font-family: system-ui; font-weight: 600;     padding: 0 11px 2px 51px;">
                            <span class="icon oboi"></span>{% trans 'FOTOOBOY VƏ FRESKA'%}</a>

                    </li>
                    <li class="item_menu " style="    width: 185px !important;">
                        <a class="main-link" href="{% url 'tablo' %}"
                            style=" font-family: system-ui; font-weight: 600;     padding: 0 11px 2px 51px;">
                            <span class="icon freski"></span>{% trans 'TABLO VƏ ÇƏRÇİVƏLƏR'%}</a>

                    </li>
                    <li class="item_menu " style="    width: 185px !important;">
                        <a class="main-link" href="{% url 'selftablo' %}"
                            style=" font-family: system-ui; font-weight: 600;     padding: 0 11px 2px 51px;">
                            <span class="icon poster"></span>{% trans 'ÖZ ŞƏKİLİNİZ İLƏ TABLO'%}</a>

                    </li>
                    <li class="item_menu " style="    width: 185px !important;">
                        <a class="main-link" href="{% url 'skinali' %}"
                            style=" font-family: system-ui; font-weight: 600;     padding: 0 11px 2px 51px;">
                            <span class="icon photo"></span>{% trans 'SKİNALİ'%}</a>

                    </li>
                    <li class="item_menu " style="    width: 185px !important;">
                        <a class="main-link" href="{% url 'evdekor' %}"
                            style=" font-family: system-ui; font-weight: 600;     padding: 0 11px 2px 51px;">
                            <span class="icon curtains"></span>{% trans 'EV ÜÇÜN DEKOR'%}</a>

                    </li>
                    <li class="item_menu " style="    width: 185px !important;">
                        <a class="main-link" href="{% url 'exclusive' %}"
                            style=" font-family: system-ui; font-weight: 600;     padding: 0 11px 2px 51px;">
                            <span class="icon pillow"></span>{% trans 'EXCLUSİVE ƏL İŞLƏRİ'%}</a>

                    </li>


                </ul>
            </div>
            <div class="line-menu"></div>
        </nav>
        <br>
    </header>

    <div class="container search-container open" id="search-container">




        <div class="wrrp-search-box full-width">
            <form action="{% url 'search' %}" method="get" class="search-box clearfix" id="searchSiteBox">

                <div class="change-type-product">
                    <div class="btn-select orange">
                        <div class="type-selected"><span>{% trans 'Search' %}</span></div>
                    </div>


                </div>

                <input type="text" name="q" placeholder="{% trans 'Product Name' %} ...." value="" />
                <button type="submit" class="btn"><svg class="icon">
                        <use xlink:href="/static/template/svg/sprite.svg#icon-search"></use>
                    </svg>{% trans 'Search' %}</button>
            </form>
        </div>


    </div>


    <header class="header-mobile">
        <nav class="cd-main-nav-wrapper">
            <ul class="cd-main-nav">
                <li>
                    <div class="social">
                        <br>
                    </div>
                </li>

                <li class="category"><a href="{% url 'index'%}"><span class="icon main"></span>{% trans 'Home' %}</a>
                </li>

                <li class="category"><a href="{% url 'fotooboy'%}" class="dropdown" style=" font-size: 16px; ">
                        <span class="icon oboi"></span>{% trans 'FOTOOBOY VƏ FRESKA'%}</a>
                </li>
                <li class="category"><a href="{% url 'tablo'%}" class="dropdown" style=" font-size: 16px; ">
                        <span class="icon freski"></span>{% trans 'TABLO VƏ ÇƏRÇİVƏLƏR'%}</a>
                </li>
                <li class="category"><a href="{% url 'selftablo'%}" class="dropdown" style=" font-size: 16px; ">
                        <span class="icon poster"></span>{% trans 'ÖZ ŞƏKİLİNİZ İLƏ TABLO'%}</a>
                </li>
                <li class="category"><a href="{% url 'skinali'%}" class="dropdown" style=" font-size: 16px; ">
                        <span class="icon photo"></span>{% trans 'SKİNALİ'%}</a>
                </li>
                <li class="category"><a href="{% url 'evdekor'%}" class="dropdown" style=" font-size: 16px; ">
                        <span class="icon curtains"></span>{% trans 'EV ÜÇÜN DEKOR'%}</a>
                </li>
                <li class="category"><a href="{% url 'exclusive'%}" class="dropdown" style=" font-size: 16px; ">
                        <span class="icon pillow"></span>{% trans 'EXCLUSİVE ƏL İŞLƏRİ'%}</a>
                </li>
                <table style=" float: right; margin: 8px 0 0 0; ">
                    <tr>
                        <td style=" padding: 0 3px 0 3px; "><a href="/az"
                                style=" text-align: center; margin: 0 9px 0 10px; padding: 0 19px 0 22px; "><img
                                    src="{% static 'images/az.png'%}" /></a></td>
                        <td style=" padding: 0 3px 0 3px; "><a href="/ru"
                                style=" text-align: center; margin: 0 9px 0 10px; padding: 0 19px 0 22px; "><img
                                    src="{% static 'images/ru.png'%}" /></a></td>
                        <td style=" padding: 0 3px 0 3px; "><a href="/en"
                                style=" text-align: center; margin: 0 9px 0 10px; padding: 0 19px 0 22px; "><img
                                    src="{% static 'images/en.png'%}" /></a></td>
                    </tr>
                </table>

            </ul>
        </nav>

        <a href="#0" class="cd-nav-trigger"><span></span></a>
        <!-- <a class="btn-fast btn-mobile-map gl-current-select change_city"><svg class="icon"><use xlink:href="/static/template/svg/sprite.svg#icon-map"></use></svg></a> -->
        <a class="btn-fast favorite" href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg></a>
        <a class="btn-fast btn-mobile-search"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#icon-search"></use>
            </svg></a>
        <a href="/" class="logo"><img src="{% static 'images/logo.png'%}" alt=""></a>

    </header>

    <main>
        <div class="container">
            <div class="row">


                <div class="col-md-12">
                    <div class="content">
                        <div class="container" itemscope="" itemtype="http://schema.org/Product">
                            <div class="wrrp-breadcrumbs page-product clearfix">
                                <div class="breadcrumbs">
                                    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                                        <li><a href="/">{% trans 'Home' %}</a></li><span> /</span>
                                        <li itemprop="itemListElement" itemscope=""
                                            itemtype="http://schema.org/ListItem">

                                            <span itemprop="name">{% trans 'Products' %}</span>

                                            <meta itemprop="position" content="2">
                                        </li><span> /</span>
                                        <li itemprop="itemListElement" itemscope=""
                                            itemtype="http://schema.org/ListItem">
                                            <span itemprop="name">{{product.name}}</span>

                                            <meta itemprop="position" content="3">
                                        </li><span> </span>
                                    </ul>
                                </div>
                                <div class="page-title" itemprop="name">
                                    <h1>{{product.name}} </h1>
                                </div>
                                <meta itemprop="description"
                                    content="Фотообои Белые олени в лесу, Арт. 18895 по цене от 590 руб. в интернет-магазине Фотостена. Доставка по Москве и России от 1 до 7 дней. Подробности по тел. 8-800-300-61-34">
                            </div>

                            <div class="left-column">
                                <div class="sticker-discount">
                                    <img src="upload/action/stiker-discount-2.png" alt="">
                                    <span>SALE - 63%</span>
                                </div>
                                <div class="browsing wallpaper">
                                    {% if product.images.first %}
                                    <div class="imgf" id="imagearea1" style="opacity: 1 !important;">


                                        <div>
                                            <img src="{{product.images.first.image.url}}"
                                                alt="Фотообои Тайга и птицы - заказать в интернет-магазине Photostena.ru"
                                                title="Фотообои Тайга и птицы - заказать в интернет-магазине Photostena.ru">
                                        </div>
                                    </div>


                                    <div class="imgf" id="imagearea2" style="opacity: 0;position: absolute;">


                                        <div>
                                            <img id="image" src="{{product.images.first.image.url}}"
                                                alt="Фотообои Тайга и птицы - заказать в интернет-магазине Photostena.ru"
                                                title="Фотообои Тайга и птицы - заказать в интернет-магазине Photostena.ru"
                                                class="cropper-hidden">
                                        </div>
                                    </div>

                                    <div class="imgf" id="imagearea3" style="display:none;">


                                        <div id="fitimage" style=" text-align: center; height: 401px; ">
                                        </div>
                                    </div>

                                    <div class="imgf" id="imagearea4" style="display:none;">


                                        <div style=" text-align: center; ">
                                            <img id="fittedimage" style=" width: 798px; "
                                                src="{{product.images.first.image.url}}"
                                                alt="Фотообои Тайга и птицы - заказать в интернет-магазине Photostena.ru"
                                                title="Фотообои Тайга и птицы - заказать в интернет-магазине Photostena.ru">
                                        </div>
                                    </div>


                                    {% endif %}
                                    <div class="mebel">
                                        <img src="" style="display: inline;">
                                    </div>



                                </div>

                                <div class="clear"></div>













                                <div class="wrrp-option clearfix">
                                    <div class="col">
                                        <div class="mebb">
                                            <div class="text">{% trans 'Choose one of furniture to see how it looks  like.' %}</div>
                                            <div id="mebel_list" class="mebel_list">
                                                <div class="item">

                                                    <a href="" class="mebel-free">{%trans 'Without furniture' %}</a>

                                                </div>

                                                {% for i in interiers %}
                                                <div class="item">
                                                    <a href="{{i.image.url}}"
                                                        style="background-image: url({{i.image.url}})">
                                                        <img src="{{i.image.url}}"
                                                            alt="На фоне красного дивана"
                                                            title="На фоне красного дивана">
                                                    </a>
                                                </div>
                                                {% endfor %}


                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>

                            <div class="browsing2">





                                <div id="msProduct" class="order">
                                    <div class="wrrp-quick-order variant-1" id="startOrder">
                                        <div class="tab-link">
                                            <!--div class="item first" data-tab="quick-order">Быстрый заказ</div>
                <div class="item last active" data-tab="full-order">Полный заказ</div-->
                                            <div class="item first active" data-tab="quick-order">SÜRƏTLİ SİFARİŞ</div>
                                            <div class="item last" data-tab="full-order">TAM SİFARİŞ</div>
                                        </div>
                                        <div class="wrrp-decision">
                                            <div class="tab-content quick-order">
                                                <div class="wrrp-form-ajax">
                                                    <form action="catalog-forest-012-18901" method="POST"
                                                        class="sendLead" data-id="predzakaz" data-form="quickorder"
                                                        data-ajax="1">
                                                        <input type="hidden" name="id" value="28753">
                                                        <input type="hidden" name="qwerty" value="">
                                                        <input type="hidden" name="BC" value="">
                                                        <input type="hidden" name="type" value="7">
                                                        <input type="hidden" name="name-form" value="quick-order">
                                                        <input type="hidden" name="device" value="desktop">
                                                        <input type="hidden" name="template" value="4">
                                                        <input type="hidden" name="query" value="">
                                                        <textarea class="message-order-all" style="display:none;"
                                                            name="message"></textarea>
                                                        <input type="hidden" name="comment"
                                                            value="ShutterStock order Picture ID=  " />
                                                        <input type="hidden" name="count_type"
                                                            value="photo_buying_count">

                                                        <div class="title">{% trans 'Dizaynerimiz sizinlə əlaqə saxlayacaq'%}</div>

                                                        <div class="descr">{% trans 'Telefon nömrənizi daxil edin.' %}
                                                        </div>
                                                        <input type="text" placeholder="+994 (___)___-__-__"
                                                            name="phone" class="required" data-type="phone" />

                                                        <button type="submit"
                                                            class="btn btn-orange-2">Göndərin.</button>
                                                        <div class="wrrp-policy clearfix">
                                                            <label>
                                                                Məlumat təqdim etməklə, Şəxsi məlumatlar haqqında Qanuna
                                                                uyğun olaraq şəxsi məlumatlarımın emalına razılığımı
                                                                verirəm, şərtləri oxudum və qəbul edirəm...

                                                            </label>
                                                        </div>

                                                        <div class="price-total" itemprop="offers" itemscope
                                                            itemtype="http://schema.org/Offer">
                                                            180 AZN'dən
                                                        </div>

                                                        <div class="wrrp-option">
                                                            <div class="action">
                                                                <div class="title">İNDİ SİFARİŞ EDİN</div>
                                                                <!--<div class="discount">до 15%</div>-->
                                                                <div class="title">GÜZƏŞTLƏRDƏN YARARLANIN</div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                    <div class="form-success">
                                                        <img src="/static/template/images/tick.png" alt="">
                                                        <div class="title">Ваш заказ принят.</div>
                                                        <div class="description">Мы обязательно свяжемся с вами в самое
                                                            ближайшее время, расскажем про материалы и пришлем макет на
                                                            утверждение.</div>
                                                        <div class="text">Обратный звонок заказывать уже не нужно.</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-content full-order">
                                                <div class="step step-1">
                                                    <div class="wall-params">
                                                        <div class="title-item">1. Ölçünü seçin</div>
                                                        <div class="wrrp">
                                                            <div class="dost clearfix">
                                                                <div class="desc">Eni</div>
                                                                <label class="icon-unit" for="dataWidth"><img
                                                                        class="icon"
                                                                        src="/static/template/svg/width-wall.svg"></label>
                                                                <label class="size-unit" for="dataWidth">sm</label>
                                                                <input type="text" id="dataWidthh"
                                                                    oninput="myFunction()" class="i_size" name="width"
                                                                    size="2" value="200" autocomplete="off" />
                                                            </div>
                                                            <div class="dost clearfix">
                                                                <div class="desc">Hündürlük </div>
                                                                <label class="icon-unit" for="dataHeight"><img
                                                                        class="icon"
                                                                        src="/static/template/svg/height-wall.svg"></label>
                                                                <label class="size-unit" for="dataHeight">sm</label>
                                                                <input type="text" id="dataHeightt"
                                                                    oninput="myFunction()" class="i_size" name="height"
                                                                    size="2" value="200" autocomplete="off" />
                                                            </div>
                                                        </div>
                                                        <div class="save-foto">
                                                            <input type="checkbox" id="onOff" name="" value=""
                                                                onchange="togglecrop()">
                                                            <label for="onOff" id="offCropper"></label>
                                                            <div class="text">Formanı özünüz təyin edin.</div>
                                                            <div class="question">?</div>
                                                            <div class="hidden-text-save-foto">
                                                                <div class="item">Şəkildə sizin ölçüyə uyğun sahə
                                                                    görünəcək, onu mərkəzdən kənara keçirə bilərsiniz.
                                                                    Ancaq bu işi dizaynerlərimizə həvalə etmək daha
                                                                    yaxşıdır - onlar bütün təsviri ölçülərinizə
                                                                    uyğunlaşdırmağa çalışacaqlar ki, nisbətlər
                                                                    pozulmasın.
                                                                </div>
                                                            </div>

                                                            <div class="row wrrp-btn-cropped" id="wrapcrop"
                                                                style="display:none;">
                                                                <div class="col col-xs-6">
                                                                    <div class="save-foto area-cropper">
                                                                        <input type="checkbox" id="cropToArea"
                                                                            onchange="fitToImage()" name="" value="">
                                                                        <label for="cropToArea" id=""
                                                                            class="btn btn-blue">Обрезать</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col col-xs-6">
                                                                    <div class="save-foto fit-cropper">
                                                                        <input type="checkbox" id="fitCropper"
                                                                            onchange="fitToImage2()" name="" value="">
                                                                        <label for="fitCropper" id=""
                                                                            class="btn btn-blue">Вместить все</label>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>

                                                    <div class="step step-2">
                                                        <div class="mat-wrrp">
                                                            <div class="title-item">2. Material seçin</div>

                                                            <div class="mat-select">

                                                                {% for i in material %}
                                                                <div class="item oboi " onclick="myFunction{{i.idd}}()"
                                                                    id="{{i.idd}}">
                                                                    <input class="input-material" type="radio"
                                                                        name="options[material]" id="{{i.iddd}}"
                                                                        value="Бумажные">
                                                                    <label for="{{i.iddd}}"
                                                                        data-img="{{i.texture_image.url}}"
                                                                        class="addLayout "
                                                                        style="background-image: url({{i.texture_image.url}});">

                                                                        <div class="detail">
                                                                            <div class="title">{{i.name}}</div>
                                                                            <div class="price">{{i.price}}
                                                                                <span>azn/м<sup>2</sup></span></div>

                                                                            <div class="add">
                                                                                <span
                                                                                    class="show-popup-material show-modal-material">?</span>
                                                                                <span
                                                                                    class="show-popup-material popup-video"
                                                                                    data-fancybox
                                                                                    href="https://youtu.be/bhyt-SH_aiY"></span>

                                                                            </div>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                                {% endfor %}


                                                            </div>




                                                        </div>


                                                    </div>

                                                    <div class="step step-3">

                                                        <div class="price-total" itemprop="offers" itemscope
                                                            itemtype="http://schema.org/Offer">
                                                            <div class="wrrp">
                                                                <div class="old-price-wallpaper"></div>
                                                                <div class="main-price">
                                                                    <div class="ttl">Sifariş məbləği</div>
                                                                    <span class="insert-price"></span><span
                                                                        class="price_wallpaper" id="pricee">0</span>
                                                                    <span>AZN</span>
                                                                </div>
                                                                <div class="benefit" id="benefit"></div>
                                                            </div>

                                                            <meta itemprop="price" content="от 590" />
                                                            <meta itemprop="priceCurrency" content="RUB" />
                                                        </div>

                                                        <div class="kupon">
                                                            <div class="text">
                                                                Minimal sifariş məbləği 200 AZN
                                                            </div>
                                                        </div>

                                                        <div class="wrrp-option">
                                                            <div class="action">
                                                                <div class="title">İNDİ SİFARİŞ EDİN</div>
                                                                <!--<div class="discount">до 15%</div>-->
                                                                <div class="title">ENDİRİMLƏRDƏN YARARLANIN</div>
                                                            </div>
                                                        </div>

                                                        <div class="wrrp-form-ajax">
                                                            <form action="catalog-forest-012-18901" method="POST"
                                                                class="sendLead" data-id="predzakaz"
                                                                data-form="fullorder" data-ajax="1">
                                                                <input type="hidden" name="id" value="28753">
                                                                <input type="hidden" name="currency" id="currency"
                                                                    value="р">
                                                                <input type="hidden" name="count_type"
                                                                    value="photo_buying_count">
                                                                <input type="hidden" name="qwerty" value="">
                                                                <input type="hidden" name="BC" value="">
                                                                <input type="hidden" name="type" value="7">
                                                                <input type="hidden" name="name-form"
                                                                    id="input-full-order" value="full-order">
                                                                <input type="hidden" name="device" value="desktop">
                                                                <input type="hidden" name="template" value="4">
                                                                <input type="hidden" name="query" value="">
                                                                <input type="hidden" class="" name="options[effects]"
                                                                    value="" />
                                                                <textarea class="message-order-all"
                                                                    style="display:none;" name="message"></textarea>
                                                                <input type="hidden" name="comment"
                                                                    value="ShutterStock order Picture ID=  " />
                                                                <input type="hidden" name="cropped" value="" />

                                                                <div class="title-item">3. Əlaqə məlumatlarını daxil
                                                                    edin.</div>

                                                                <div class="row">
                                                                    <div class="col">
                                                                        <input type="text"
                                                                            placeholder="+994 (___)___-__-__"
                                                                            name="phone" class="required"
                                                                            data-type="phone" />
                                                                    </div>
                                                                    <div class="col">
                                                                        <input type="text" placeholder="Ваш E-mail"
                                                                            name="email" />
                                                                    </div>
                                                                </div>

                                                                <div class="wrrp-policy clearfix">
                                                                    <label>
                                                                        Məlumat təqdim etməklə, Şəxsi məlumatlar
                                                                        haqqında Qanuna uyğun olaraq şəxsi
                                                                        məlumatlarımın emalına razılığımı verirəm,
                                                                        şərtləri oxudum və qəbul edirəm...

                                                                    </label>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="delivery-date">


                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="submit"
                                                                            class="btn-orange-2">SİFARİŞ</button>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                            <div class="form-success">
                                                                <img src="/static/template/images/tick.png" alt="">
                                                                <div class="title">Ваш заказ принят.</div>
                                                                <div class="description">Мы обязательно свяжемся с вами
                                                                    в самое ближайшее время, расскажем про материалы и
                                                                    пришлем макет на утверждение.</div>
                                                                <div class="text">Обратный звонок заказывать уже не
                                                                    нужно.</div>
                                                            </div>
                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clear"></div>





                            <div class="block-privilege clearfix">
                                <div class="item" style="background-image:url(/static/template/images/icon/1.png);">
                                    <div class="title">{% trans 'Products Count' %}</div>
                                    <div class="desc">{% trans 'Checkout our products' %}</div>
                                </div>
                                <div class="item" style="background-image:url(/static/template/images/icon/2.png);">
                                    <div class="title">{% trans 'Affordable Prices' %}</div>
                                    <div class="desc">{% trans 'Discounts, Campaigns' %}</div>
                                </div>
                                <div class="item" style="background-image:url(/static/template/images/icon/3.png);">
                                    <div class="title">{% trans 'No Prepayment need' %}</div>
                                    <div class="desc">{% trans 'Pay after order delivered' %}</div>
                                </div>
                                <div class="item" style="background-image:url(/static/template/images/icon/4.png);">
                                    <div class="title">{% trans 'Fast Delivery' %}</div>
                                    <div class="desc">{% trans 'We deliver orders on time' %}</div>
                                </div>
                                <div class="item" style="background-image:url(/static/template/images/icon/5.png);">
                                    <div class="title">{% trans 'Delivery time slots' %}</div>
                                    <div class="desc">{% trans 'We deliver when appropriate for you' %}</div>
                                </div>
                                <div class="item" style="background-image:url(/static/template/images/icon/6.png);">
                                    <div class="title">{% trans 'Delivery' %}</div>
                                    <div class="desc">{% trans 'We Deliver to your address' %}</div>
                                </div>
                            </div>

                            <div class="block-another-product">
                                <div class="title-block">{% trans 'Other products' %}</div>
                                <div class="catalog grid row" itemscope="" itemtype="http://schema.org/ItemList"
                                    style="position: relative; height: 996.782px;">

                                    {% for p in products %}
                                    {% if p.images.first %}
                                    <div class="col col-lg-3 col-md-4 col-sm-4 col-xs-6 grid-item"
                                        style="position: absolute; left: 0px; top: 0px;">
                                        <div class="item " itemprop="itemListElement" itemscope=""
                                            itemtype="http://schema.org/Product">
                                            <div class="wrrp-stiker">

                                                {% if p.is_featured == True %}
                                                <div class="stiker hit">{% trans 'Featured' %}</div>
                                                {% endif %}
                                            </div>
                                            <div class="img favorite_form">
                                                <a itemprop="url" href="{% url 'product' p.id %}">


                                                    <img itemprop="image" src="{{p.images.first.image.url}}"
                                                        alt="Фотообои /static/images/products/28753/preview/18901.jpg"
                                                        title="Фотообои /static/images/products/28753/preview/18901.jpg">


                                                </a>
                                            </div>
                                            <div class="info">
                                                <div class="wrrp-article">
                                                    <div class="article">арт. 18901</div>
                                                    <div class="msfavorites" data-click="" data-data-list="default"
                                                        data-data-type="resource" data-data-key="28753">
                                                        <div class="msfavorites-text-add"><span>добавить </span><svg
                                                                class="icon">
                                                                <use
                                                                    xlink:href="/static/template/svg/sprite.svg#add-to-cart">
                                                                </use>
                                                            </svg></div>
                                                        <div class="msfavorites-text-remove"><span>убрать </span><svg
                                                                class="icon">
                                                                <use
                                                                    xlink:href="/static/template/svg/sprite.svg#remove-from-cart">
                                                                </use>
                                                            </svg></div>
                                                    </div>
                                                </div>
                                                <div class="title" itemprop="name">{{p.name}}</div>
                                                <meta itemprop="description"
                                                    content="Современные фотообои Белые олени в лесу в наличии и под заказ! Большой выбор готовых решений и изготовление по индивидуальному изображению. 
                Купить фотообои Белые олени в лесу в интернет-магазине Photostena по самой низкой цене и бесплатной доставкой по России просто! Подробности по тел. 8-800-500-44-16.">

                                                <div class="wrrp-price clearfix" itemprop="offers" itemscope=""
                                                    itemtype="http://schema.org/Offer">
                                                    {% if p.discount_price != null %}
                                                    <div class="sale"><span>%</span></div>
                                                    {% endif %}

                                                    {% if p.discount_price != null %}
                                                    <div class="price">{{p.discount_price}} azn/м²</div>

                                                    <div class="old-price">{{p.price}} azn/м²</div>
                                                    {% else %}
                                                    <div class="price">{{p.price}} azn/м²</div>
                                                    {% endif %}
                                                </div>
                                                <a href="?type=1" class="link"></a>

                                                <div class="link-quick link-popup-quick  btn btn-blue"><a
                                                        href="{%url 'product' p.id%}">{% trans 'Quick Order' %}</a>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="count-sell">{% trans 'Ordered count' %} {{p.order_count}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>















                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>







                        </div>






                        <style>
                            /*-----------------*/
                            /***** Apollo *****/
                            /*-----------------*/
                            .popular .col-item {
                                display: block;
                                position: relative;
                            }

                            .popular .col-item::before {
                                content: '';
                                display: block;
                                padding-top: 81%;
                            }

                            figure.effect-apollo {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                overflow: hidden;
                                margin-bottom: 10px;
                                height: auto;
                                background: #3085a3;
                                text-align: center;
                                cursor: pointer;


                                background: #3498db;
                                font-family: CirceRegular;
                                overflow: hidden;
                            }

                            figure.effect-apollo img {
                                position: relative;
                                display: block;
                                min-height: 100%;
                                max-width: 100%;
                                opacity: 0.95;
                                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                                transition: opacity 0.35s, transform 0.35s;
                                -webkit-transform: scale3d(1.05, 1.05, 1);
                                transform: scale3d(1.05, 1.05, 1);
                            }


                            figure figcaption,
                            figure figcaption>a {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }

                            figure figcaption {
                                padding: 2em;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 1.25em;
                                -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                            }

                            figure.effect-apollo figcaption::before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255, 255, 255, 0.5);
                                content: '';
                                -webkit-transition: -webkit-transform 0.6s;
                                transition: transform 0.6s;
                                -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
                            }

                            figure.effect-apollo:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                display: block;
                                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff6b), color-stop(60%, transparent));
                                background-image: -webkit-linear-gradient(top, #ffffff6b 40%, transparent 60%);
                                background-image: linear-gradient(to bottom, #ffffff6b 40%, transparent 60%);
                            }

                            figure.effect-apollo .title {
                                text-align: left;
                                line-height: 1;
                                font-size: 13px;
                                color: #000000;
                                position: relative;
                                z-index: 1;
                            }

                            figure.effect-apollo .title span {
                                font-family: CirceBold;
                                font-size: 24px;
                                display: block;
                            }

                            figure.effect-apollo:hover img {
                                opacity: 0.6;
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                            }

                            figure.effect-apollo:hover figcaption::before {
                                -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
                                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
                            }

                            .popular .row {
                                margin: 0 -5px;
                            }

                            .popular .col {
                                padding: 0 5px;
                            }
                        </style>



























                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>

        <div class="container">

            <!--div class="we_works row">
            <div class="title-block">Наши работы</div>
            <div class="items slider-work owl-carousel owl-theme">
                
            </div>
        </div-->



            <div class="block-partners">
                <div class="title-block">{% trans 'Our Clients' %}</div>

                <div class="slider-partners">
                    {% for i in clients %}
                    <div> <img src="{{i.image.url}}" alt=""> </div>
                    {% endfor %}

                </div>
            </div>

            <div style=" margin-top: 0; " class="block-seo">

            </div>

        </div>

    </main>


    <footer style=" margin-top: 64px; ">
        <div class="action-bnr-top">
            <img src="upload/action/winter/17/Photostena_368х60.png" alt="" class="mobile">
        </div>


        <div class="container">
            <div class="menu">
                <div class="item-menu">
                    <div class="title">{% trans 'Our Catalog' %}</div>
                    <ul>
                        <li><a href="{% url 'fotooboy'%}">FOTOOBOY VƏ FRESKA</a></li>
                        <li><a href="{% url 'tablo'%}">TABLO VƏ ÇƏRÇİVƏLƏR</a></li>
                        <li><a href="{% url 'selftablo' %}">ÖZ ŞƏKİLİNİZ İLƏ TABLO</a></li>
                        <li><a href="{% url 'skinali' %}">SKİNALİ</a></li>
                        <li><a href="{% url 'evdekor' %}">EV ÜÇÜN DEKOR</a></li>
                        <li><a href="{% url 'exclusive' %}">EXCLUSİVE ƏL İŞLƏRİ</a></li>
                    </ul>
                </div>
                <div class="item-menu">
                    <div class="title">{% trans 'Shotcuts' %}</div>
                    <ul>
                        <li><a href="{% url 'index'%}">{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'about'%}">{% trans 'About' %}</a></li>
                        <li><a href="https://g.page/fotooboibaku?share" target="_blank">{% trans 'Stores' %}</a></li>
                        <li><a href="{% url 'about'%}">{% trans 'Shipping' %}</a></li>
                        <li><a href="{% url 'about'%}">{% trans 'Prices' %}</a></li>
                        <li><a href="{% url 'contact'%}">{% trans 'Contact' %}</a></li>


                    </ul>
                </div>
            </div>
            <div class="form-footer wrrp-form-ajax">

                <div class="item-menu" style=" text-align: center; ">
                    <div class="title">{% trans 'Shotcuts' %}</div>
                    <ul>
                        <li><a href="{% url 'index'%}">{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'about'%}">{% trans 'About' %}</a></li>
                        <li><a href="https://g.page/fotooboibaku?share" target="_blank">{% trans 'Stores' %}</a></li>
                        <li><a href="{% url 'about'%}">{% trans 'Shipping' %}</a></li>
                        <li><a href="{% url 'about'%}">{% trans 'Prices' %}</a></li>
                        <li><a href="{% url 'contact'%}">{% trans 'Contact' %}</a></li>


                    </ul>
                </div>
                <div class="form-success">
                    <img src="/static/template/images/tick.png" alt="">
                    <div class="title">Ваш заказ принят.</div>
                    <div class="description">Мы обязательно свяжемся с вами в самое ближайшее время, расскажем про
                        материалы и пришлем макет на утверждение.</div>
                    <div class="text">Обратный звонок заказывать уже не нужно.</div>
                </div>
            </div>
            <div class="col1 right">
                <img src="{% static 'images/logo.png'%}"
                    alt="Photostena - крупнейший интернет-магазин фотообоев, картин и фресок"
                    title="Photostena - крупнейший интернет-магазин фотообоев, картин и фресок" class="footerlogo"
                    style=" width: 100px; margin: -14px 0 -50px 43px; " />
                <div class="rating">
                    <div class="rating__best"
                        style=" background: url(/static/images/stars_vector.png) no-repeat; width: 130px; height: 35px; position: absolute; background-size: 130px 210px; ">
                        <div class="rating__current" data-id="1"
                            style="display: block;width: 122.173px;background: url(/static/images/stars_vector.png) 0 -35px no-repeat;height: 35px;position: absolute;background-size: 130px 210px;">
                        </div>
                        <div class="rating__star rating__star_5" data-title="5"></div>
                        <div class="rating__star rating__star_4" data-title="4"></div>
                        <div class="rating__star rating__star_3" data-title="3"></div>
                        <div class="rating__star rating__star_2" data-title="2"></div>
                        <div class="rating__star rating__star_1" data-title="1"></div>
                    </div>

                </div>
                <div class="raiting-value">
                    Рейтинг: <span id="ratingValue" class="rating-value">4.7</span>/5 - <span id="ratingCount"
                        class="rating-count">1653</span> голосов
                </div>

                <script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "Фотообои на стену",
    "image": "#assets/template/images/logo.png"
    ,"aggregateRating": {
        "@type": "AggregateRating",
        "bestRating": "5",
        "ratingValue": "4.7",
        "ratingCount": "1634"
    },"offers": {
        "@type": "AggregateOffer",
        "lowPrice": "290",
        "highPrice": "900",
        "priceCurrency": "RUB",
        "availability": "http://schema.org/InStock",
        "itemCondition": "http://schema.org/NewCondition"
}}
</script>
                <p>{% trans 'No1 3D Photooboy manufacturer in Azerbaijan. Great quality and affordable prices.' %}</p>
                <p>© 2010-2022 iDesign Bureau.{% trans 'All rights reserved' %}</p>
            </div>
            <div class="col2 right">

                <div class="social">
                    {%for i in socials%}
                    <a href="{{i.url}}" target="_blank" style="background-image: url({{i.icon.url}})"></a>
                    {% endfor %}

                </div>
                <a class="email" href="mailto:info@idesignbureau.com">info@idesignbureau.com</a><br>
                <a>Subhi Salayev küç.102</a><br>
                <a>+994 556777410</a>
            </div>

            <div class="clear"></div>
            <div class="footer-text">
                <p style=" margin-top: 89px; ">{% trans 'Foto divar kağızları, freskalar və kətan şəkilləri əldə etmək  mümkündür! Aşağı qiymətlər və Azərbaycanın bütün şəhərlərinə çatdırılma: Bakı, Sumqayıt, Gəncə, Qəbələ, Şamaxı, Quba, Lənkaran, Astara, Qazax, Şuşa, Mingəçevir, İsmayıllı, Kürdəmir, Ucar, Balakən, Zaqatala' %}
                    <br>

            </div>
        </div>


    </footer>

    <div class="btn-whatsapp">
        <a href="https://wa.link/atc0qj" target="_blank">
            <img style=" width: 51px; " src={% static 'images/whatsapp.png' %}>
        </a>
        <!-- <a href="viber://pa?chatURI=photostena_ru" target="_blank"><svg><use xlink:href="/static/template/svg/sprite.svg#viber"></use></svg></a> -->
    </div>

    <div class="bottom__cookie-block">
        <div class="container">
            <div class="wrrp">
                <p>Продолжая использовать сайт, вы соглашаетесь на сбор файлов cookie</p>
                <a href="javascript:void(0);" class="btn btn-blue-2 ok">Ок</a>
            </div>
        </div>
    </div>

    <div class="link-fixed-cart msfavorites-total-all" data-data-list="default" data-data-type="resource"
        data-msfavorites-animation style="display: none;">
        <a href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg> <span>Корзина</span></a>
    </div>
    <div class="link-fixed-cart msfavorites-total-all" data-data-list="default" data-data-type="poster"
        data-msfavorites-animation style="display: none;">
        <a href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg> <span>Корзина</span></a>
    </div>
    <div class="link-fixed-cart msfavorites-total-all" data-data-list="default" data-data-type="module"
        data-msfavorites-animation style="display: none;">
        <a href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg> <span>Корзина</span></a>
    </div>
    <div class="link-fixed-cart msfavorites-total-all" data-data-list="default" data-data-type="curtains"
        data-msfavorites-animation style="display: none;">
        <a href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg> <span>Корзина</span></a>
    </div>
    <div class="link-fixed-cart msfavorites-total-all" data-data-list="default" data-data-type="shower"
        data-msfavorites-animation style="display: none;">
        <a href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg> <span>Корзина</span></a>
    </div>
    <div class="link-fixed-cart msfavorites-total-all" data-data-list="default" data-data-type="pillow"
        data-msfavorites-animation style="display: none;">
        <a href="favorites"><svg class="icon">
                <use xlink:href="/static/template/svg/sprite.svg#supermarket"></use>
            </svg> <span>Корзина</span></a>
    </div>



    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="/static/components/minifyx/cache/scripts_fb61d70ee4.min.js"></script>


    <!-- ROISTAT-->
    <!--script>
(function(w, d, s, h, id) {
    w.roistatProjectId = id; w.roistatHost = h;
    var p = d.location.protocol == "https:" ? "https://" : "http://";
    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";
    var js = d.createElement(s); js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
})(window, document, 'script', 'cloud.roistat.com', '2696');
</script-->

    <script>
            (function (w, d, s, h, id) {
                w.roistatProjectId = id; w.roistatHost = h;
                var p = d.location.protocol == "https:" ? "https://" : "http://";
                var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/" + id + "/init";
                var js = d.createElement(s); js.charset = "UTF-8"; js.async = 1; js.src = p + h + u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
            })(window, document, 'script', 'cloud.roistat.com', 'fe491518a326f075216a01e1d0d52928');
    </script>
    <!--ROISTAT-->


    <!--BITRIX CHAT-->
    <!--script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://crm.topzavod.ru/upload/crm/site_button/loader_2_15max1.js');
</script-->
    <!--BITRIX CHAT-->




    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75370028-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-75370028-1');
    </script>
    <!-- END site tag (gtag.js) - Google Analytics -->

    <!-- Begin LeadBack code {literal} -->
    <!--script>
    var _emv = _emv || [];
    _emv['campaign'] = 'f02b3153b7cd949403726f74';
    _emv['lang'] = 'ru';

    (function() {
        var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
        em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
    })();
</script-->
    <!-- End LeadBack code {/literal} -->





    <script src="/static/template/js/wazzap_roistat.js"></script>


    <script>
        // Слайдер на главной
        $('.main-slider').owlCarousel({
            items: 1,
            margin: 0,
            loop: true,
            nav: false,
            navText: false,
            dots: true,
            autoplay: true,
            autoplayTimeout: 5000,
            animateOut: 'fadeOut',
            smartSpeed: 1000
        });

        /*$('.change-type-product .btn-select').click(function(){
           $('.list-select-type-product').fadeIn(); 
        });*/

    </script>

    <script type="text/javascript" src="{% static 'js/default.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/default.js'%}"></script>

    <script>





        var isLoad = 0;
        function arrowsInit(current, total) {
            if (current == 0) $(".left_arrow").hide();
            else
                $(".left_arrow").show();
            if (current + 1 >= total) $(".right_arrow").hide();
            else
                $(".right_arrow").show();
        }

        console.log('НОМЕР КАТЕГОРИИ - 30147');
        console.log('Запрос - ');


        function getImg(alias) {
            $(".browsing .img").css('opacity', 0);
            $.getJSON("/static/template/php/ajax_catalog.php?type=photo&alias=" + alias + "&parent=30147", function (data) {
                var left = data.rows['0'];
                var right = data.rows['2'];
                var url = window.location.pathname;
                var replace = "/" + data.current.alias;
                //window.history.pushState("", "", replace);
                $(".browsing .img img").attr("src", data.current.image);
                $('#zoomProduct').attr('href', data.current.image);
                $('.browsing .msfavorites').data('data-key', data.current.id);
                if (data.position < data.total) $('.right_arrow a').attr("href", right.alias);
                if (data.position > 0) $('.left_arrow a').attr("href", left.alias);
                $(".breadcrumbs ul li:last-child").html(data.current.article + " - " + data.current.pagetitle);
                $("body [name=id]").val(data.current.id);
                $(".page-title h1").html(data.current.article + " " + data.current.pagetitle);
                $('#infoArticle').text(data.current.article);
                arrowsInit(data.position, data.total);
                clearCropper();
            });
        }

        $(document).ready(function () {
            $(".browsing .img #image").load(function () {
                $(".browsing .img").fadeTo("fast", 1);
                isLoad = 0;
            });

            getImg($("form.sendLead").attr("action"));

            $('.right_arrow a').on("click", function () {
                if (isLoad) return false;
                isLoad = 1;
                getImg($(this).attr("href"));
                clearCropper();
                return false;
            });

            $('.left_arrow a').on("click", function () {
                if (isLoad) return false;
                isLoad = 1;
                getImg($(this).attr("href"));
                clearCropper();
                return false;
            });


        });

        $(".message-order-all[name=message]").text("Положить клей");

        $(function () {
            var $container = $(".grid-reviews")
            $container.masonry()
        });

        $(document).on('pdopage_load', function () {
            var $container = $('.grid-reviews');
            $container.imagesLoaded(function () {
                $container.masonry('reloadItems')
                $container.masonry({
                    itemSelector: '.grid-item'
                });
            });
        });

        if ($(window).width() < 769) {
            $('.work-category .wrrp').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                centerMode: true
            });
        } else {

        }

    </script>
    <script src="/static/components/cropper/layers/js/options-production.js?ver=1.1"></script>

    <script src="/static/components/cropper/layers/js/canvas.js?ver=1.1"></script>
    <script src="/static/components/cropper/layers/js/price-ref-new.js?ver=2.8"></script>


    <script type="text/javascript">
        window.dataLayer.push({
            "ecommerce": {
                "detail": {
                    "products": [
                        {
                            "id": "PH28753",
                            "name": "Тайга и птицы",
                            "price": 180.00,
                            "brand": "Photostena",
                            "category": "Forest"
                        }
                    ]
                }
            }
        });
    </script>
    <script type="text/javascript" src="/static/components/msfavorites/js/default.min.js?v=f301bf14"></script>
    <script type="text/javascript" src="/static/components/ms2gallery/js/web/default.js"></script>
    <script type="text/javascript" src="/static/components/pdotools/js/pdopage.min.js"></script>
    <script
        type="text/javascript">pdoPage.initialize({ "wrapper": "#pdopage", "rows": "#pdopage .rows", "pagination": "#pdopage .pagination", "link": "#pdopage .pagination a", "more": "#pdopage .btn-more", "moreTpl": "<button class=\"btn btn-default btn-more\">\u0417\u0430\u0433\u0440\u0443\u0437\u0438\u0442\u044c \u0435\u0449\u0435<\/button>", "mode": "button", "history": 0, "pageVarKey": "page", "pageLimit": "12", "assetsUrl": "\/assets\/components\/pdotools\/", "connectorUrl": "\/assets\/components\/pdotools\/connector.php", "pageId": 28753, "hash": "890eb9da08a3a6bd22d847d503922e1cc8cbe8c1", "scrollTop": true });</script>
    <script type="text/javascript" src="/static/components/simplerating/js/web/default.js"></script>
    <script
        type="text/javascript">if (typeof jQuery == "undefined") { document.write("<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js\" type=\"text/javascript\"><\/script>"); }</script>
    <script>

        {% for i in material %}
        function myFunction{ { i.idd } } () {
            var width = document.getElementById('dataWidthh').value
            var height = document.getElementById('dataHeightt').value
            console.log(width);
            document.getElementById("pricee").innerHTML = parseInt({{ i.price }})* parseInt(width) * parseInt(height) / 10000;
}
        {% endfor %}
    </script>
    <script>





        var image = document.getElementById('image');
        var myCropper = new Cropper(image, {
            initialAspectRatio: parseInt(document.getElementById('dataWidthh').value) / parseInt(document.getElementById('dataHeightt').value),
            zoomable: false,
            autoCropArea: 1,
            viewMode: 1,
            background: false,
        });


        document.getElementById("dataHeightt").addEventListener("change", myFunction);
        document.getElementById("dataWidthh").addEventListener("change", myFunction);

        function myFunction() {
            myCropper.setAspectRatio(parseInt(document.getElementById('dataWidthh').value) / parseInt(document.getElementById('dataHeightt').value));
            console.log(myCropper.getCropBoxData())



        }

        image.addEventListener('cropend', (event) => {
            console.log(event.detail.originalEvent);
            console.log(event.detail.action);
        });

        function fitToImage() {
            myCropper.crop()
            var imgurl = myCropper.getCroppedCanvas().toDataURL();

            var imagearea3 = document.getElementById("imagearea3");
            imagearea3.classList.toggle("imagearea3style");
            var imagearea2 = document.getElementById("imagearea2");
            imagearea2.classList.toggle("imagearea2hide");

            var fitimage = document.getElementById("fitimage");
            var elem = document.createElement("img");
            elem.src = imgurl;
            document.getElementById("fitimage").replaceChildren(elem);
        }

        function fitToImage2() {

            var imagearea4 = document.getElementById("imagearea4");
            imagearea4.classList.toggle("imagearea4style");
            var imagearea2 = document.getElementById("imagearea2");
            imagearea2.classList.toggle("imagearea2hide");

            var im = document.getElementById("fittedimage");
            var ratio = parseInt(document.getElementById('dataHeightt').value) / parseInt(document.getElementById('dataWidthh').value) * 798
            console.log(ratio)
            im.style.height = ratio + 'px';


        }
        function togglecrop() {
            var element = document.getElementById("wrapcrop");
            var element2 = document.getElementById("imagearea1");
            var element3 = document.getElementById("imagearea2");
            element.classList.toggle("mystyle");
            element2.classList.toggle("myimagestyle");
            element3.classList.toggle("myimage2style");
        }
    </script>

    <script>
        image.addEventListener('cropstart', (event) => {
            console.log(myCropper.getCropBoxData())


        });

    </script>


</body>

</html>